@import url('https://fonts.googleapis.com/css?family=Mukta');

:root {
  --primary-color: #222;
  --secondary-color: #f0f0f0;
  --tertiary-color: #f8f8f8;
  --quaternary-color: #f8f8f8;
  --quinary-color: #f8f8f8;
  --senary-color: #f8f8f8;
  --septenary-color: #f8f8f8;
  --octonary-color: #f8f8f8;
  --nonary-color: #f8f8f8;
  --denary-color: #f8f8f8;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --black: 900;
}
body {
  font-family: 'Mukta', sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
  padding: 30px;
}

canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor: pointer;
}
.tools {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

}
.tools .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
}

.tools .button{
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 15px;
}
.color-picker{
    align-self:center;
    margin: 0 10px;
    height: 50px;
}

.pen-range{
    align-self: center;
    margin: 0 10px;
}